@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin setDimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin routerBtnBaseStyle {
  background-color: #E51670;
  border: 1px solid #E51670;
  span {
    color: white;
  }

  a:link, 
  a:visited, 
  a:hover, 
  a:active {
    text-decoration: none;
  }
}


@mixin setBorder($top: none, $right: none, $bottom: none, $left: none) {
  border-top: if($top != none, 1px solid $top, none);
  border-right: if($right != none, 1px solid $right, none);
  border-bottom: if($bottom != none, 1px solid $bottom, none);
  border-left: if($left != none, 1px solid $left, none);
}