@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin setDimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin setFieldBGColor($color) {
  background-color: $color;
  border: 1px solid $color;
}