@media only screen and (min-width: 541px)  {
  // Put a border around the entire Table
  // except bottom. Bottom border is take 
  // care of by last .line-item's fields
  .ledger-container {
    @include setBorder(grey, grey, none, grey);
    font-size: 1.5em;
  }
  
  .header {
    @include setBorder(none, grey, grey, none);
  }
  
  
  
  .cols {
    display: flex;
    .header {
      width: 25%;
      padding: 10px;
    }
    
    // See note below
    .last-header {
      border-right: none;
    }
  }    
  // Overrides setBorder styling below
  .line-item {
    .total-field {
      border-right: none; 
    }
  }  
  // Sets top/right border for cell fields
  .line-item-field {
    padding: 10px;
    @include setBorder(none, grey, grey, none);
  }

}





/********
* Notes
**********

Need to add extra class to last .header
and wrap it in .cols container to give
higher specifity & override setBorder 
mixin styling

**********/