*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

@media only screen and (max-width: 480px) {
  form {
    border: 1px solid salmon;
    min-height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }

.add-item-btn {
  height: 50px;
  font-size: 1.5em;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 1em; }

.error-msg {
  color: red;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 10px red;
  width: 70%;
  text-align: center; }

/********************************
* Media Query Styles
*********************************/
@media only screen and (max-width: 480px) {
  .form-row {
    font-size: 1.5em;
    width: 80%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em; }
    .form-row .form-label {
      width: 100%; }
    .form-row input {
      font-size: 1em; }
      .form-row input.longer-input {
        width: 100%; }
      .form-row input.shorter-input {
        width: 35%; } }

/********************************
* Base Styles
*********************************/
.form-label {
  color: white; }

div.form-row:nth-child(even) {
  background-color: #3F0F3F; }

div.form-row:nth-child(odd) {
  background-color: #49C39E; }

/********************************
* Media Query Styles
*********************************/
@media only screen and (max-width: 480px) {
  .ledger-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid purple;
    margin-bottom: 2em; }
    .ledger-container .cols {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin-bottom: 1.5em; }
      .ledger-container .cols .header {
        width: 70%;
        height: 70px;
        border: 1px solid grey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em; }
    .ledger-container .line-items-container {
      width: 80%;
      min-height: 20vh;
      margin: 1em 0;
      border: 1px solid gold;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .ledger-container .additem-btn {
      width: 50%;
      height: 70px;
      border-radius: 10px;
      font-size: 1.5em; } }

/********************************
* Base Styles
*********************************/
.cols {
  color: white; }
  .cols div:nth-child(odd) {
    background-color: #49C39E; }
  .cols div:nth-child(even) {
    background-color: #80D2DE; }

.default-msg {
  font-size: 2em; }

.additem-btn {
  background-color: #E51670;
  border: 1px solid #E51670; }
  .additem-btn span {
    color: white; }
  .additem-btn a:link,
  .additem-btn a:visited,
  .additem-btn a:hover,
  .additem-btn a:active {
    text-decoration: none; }

@media only screen and (max-width: 480px) {
  .line-item {
    width: 100%;
    height: 300px;
    border: 1px solid #ff5bb5;
    margin-bottom: 1.5em; }
  .line-item-field {
    height: 25%;
    border: 1px solid #87ffe7;
    font-size: 1.5em;
    overflow: scroll;
    display: flex;
    align-items: center;
    padding-left: .5em; } }

@media only screen and (max-width: 480px) {
  .total {
    width: 85%;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em; }
  .total-labels div {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1em; }
  .total-figures span.elip {
    text-overflow: ellipsis; }
  .total-figures div {
    margin-bottom: 1em; } }

.total {
  border: 2px solid grey;
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .total .total-figures {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .total .total-figures div:nth-child(1) {
      text-overflow: ellipsis; }

