@import url(https://fonts.googleapis.com/css?family=Lato);
*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

/********************************
* Media Query Styles
*********************************/
@media only screen and (max-width: 540px) {
  form {
    border: 1px solid salmon;
    min-height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .create-item-btn, .back-btn {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.5em;
    margin-right: 5px; }
  .add-item-btn-container {
    width: 80%; } }

/********************************
* Base Styles
*********************************/
.create-item-btn {
  font-size: 1.5em;
  border-radius: 10px;
  background-color: #E51670;
  border: 1px solid #E51670;
  color: white; }

.back-btn {
  background-color: #E51670;
  border: 1px solid #E51670; }
  .back-btn span {
    color: white; }
  .back-btn a:link,
  .back-btn a:visited,
  .back-btn a:hover,
  .back-btn a:active {
    text-decoration: none; }

.error-msg {
  color: red;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 10px red;
  width: 70%;
  text-align: center; }

.add-item-btn-container {
  display: flex;
  align-items: center;
  margin: 2em 0; }

/********************************
* Media Query Styles
*********************************/
@media only screen and (max-width: 540px) {
  .form-row {
    font-size: 1.5em;
    width: 80%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em; }
    .form-row .form-label {
      width: 100%; }
    .form-row input {
      font-size: 1em; }
      .form-row input.longer-input {
        width: 100%; }
      .form-row input.shorter-input {
        width: 35%; } }

/********************************
* Base Styles
*********************************/
.form-label {
  color: white; }

.row-total {
  color: white; }

form .form-row:nth-child(even) {
  background-color: #3F0F3F; }

form .form-row:nth-child(odd) {
  background-color: #49C39E; }

/********************************
* Media Query Styles
*********************************/
@media only screen and (max-width: 540px) {
  .ledger-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em; }
    .ledger-container .cols {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin-bottom: 1.5em; }
      .ledger-container .cols .header {
        width: 70%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em; }
    .ledger-container .line-items-container {
      width: 90%;
      min-height: 20vh;
      margin: 1em 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
  .additem-btn {
    width: 220px;
    height: 70px;
    border-radius: 10px;
    font-size: 1.5em;
    display: block;
    margin: 0 auto 1.5em; } }

@media only screen and (min-width: 541px) and (max-width: 1024px) {
  .ledger-container {
    width: 100%; }
  /*********************
  * Table Styling
  **********************/
  .ledger-container {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    font-size: 1.5em; }
  .header {
    border-top: none;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: none; }
  .cols {
    display: flex; }
    .cols .header {
      width: 25%;
      padding: 10px; }
    .cols .last-header {
      border-right: none; }
  /**** End Table Styling ****/ }

/********************************
* Base Styles
*********************************/
.cols {
  color: white; }
  .cols div:nth-child(1) {
    background-color: #49C39E; }
  .cols div:nth-child(2) {
    background-color: #80D2DE; }
  .cols div:nth-child(3) {
    background-color: #EBB424; }
  .cols div:nth-child(4) {
    background-color: #D40E0D; }

.default-msg {
  font-size: 2em; }

.additem-btn {
  background-color: #E51670;
  border: 1px solid #E51670; }
  .additem-btn span {
    color: white; }
  .additem-btn a:link,
  .additem-btn a:visited,
  .additem-btn a:hover,
  .additem-btn a:active {
    text-decoration: none; }

/********
* Notes
**********

Need to add extra class to last .header
and wrap it in .cols container to give
higher specifity & override setBorder 
mixin styling

**********/
/********************************
* Media Query Styles
*********************************/
@media only screen and (max-width: 540px) {
  .line-item {
    width: 100%;
    margin-bottom: 1.5em;
    border: 1px solid grey; }
  .line-item-field {
    height: 75px;
    font-size: 1.5em;
    overflow: scroll;
    display: flex;
    align-items: center;
    padding-left: .5em; }
  .total-field img {
    width: 40px;
    height: 40px;
    margin-right: .5em; } }

@media only screen and (min-width: 541px) and (max-width: 1024px) {
  .line-item {
    display: flex; }
    .line-item .total-field {
      border-right: none; }
  .line-item-field {
    width: 25%; }
  .total-field img {
    width: 25px;
    height: 25px;
    margin-right: .5em; }
  /*********************
  * Table Styling
  **********************/
  .line-item .total-field {
    border-right: none; }
  .line-item-field {
    padding: 10px;
    border-top: none;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: none; }
  /**** End Table Styling ****/ }

/********************************
* Base Styles
*********************************/
.line-item {
  color: white; }

.line-item-field:nth-child(1) {
  background-color: #49C39E; }

.line-item-field:nth-child(2) {
  background-color: #80D2DE; }

.line-item-field:nth-child(3) {
  background-color: #EBB424; }

.line-item-field:nth-child(4) {
  background-color: #D40E0D;
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 540px) {
  .total {
    width: 85%;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em; }
  .total-labels div {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1em; }
  .total-figures span.elip {
    text-overflow: ellipsis; }
  .total-figures div {
    margin-bottom: 1em; } }

.total {
  border: 2px solid grey;
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: scroll; }
  .total .total-figures {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .total .total-figures div:nth-child(1) {
      text-overflow: ellipsis; }

