*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

@media only screen and (max-width: 480px) {
  .ledger-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid purple;
    margin-bottom: 2em; }
    .ledger-container .cols {
      border: 1px solid pink;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%; }
      .ledger-container .cols .header {
        width: 70%;
        height: 70px;
        border: 1px solid grey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em; }
    .ledger-container button {
      width: 50%;
      height: 70px;
      border-radius: 10px;
      font-size: 1.5em; } }

.total {
  width: 80%;
  border: 1px solid green;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .total .total-figures {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

