/********************************
* Media Query Styles
*********************************/


// Mobile
@media only screen and (max-width: 730px) {
  .form-container {
    h1 {
      text-align: center;
    }
  }

  form {
    min-height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .create-item-btn, .back-btn {
    @include setDimensions(250px, 60px);
    border-radius: 10px;
    font-size: 1.5em;
    margin-right: 5px;
  }

  .add-item-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .error-msg {
    margin-bottom: 1em;
  }

}


// Tablet 
@media only screen and (min-width: 731px)  {
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1em;
    
  }  

  .form-container {
    width: 60%;
  }

  .add-item-btn-container {
    width: 25%;
    height: 40vh;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    order: 2;

    .create-item-btn, .back-btn {
      @include setDimensions(90%, 60px);
      border-radius: 10px;
      font-size: 1.5em;
      margin-right: 5px;
    }
  }

  .error-msg, .success-msg {
    order: 3;
    margin: 1em auto 0 auto;

  }
}

// Desktop
@media only screen and (min-width: 1251px) {
  form {
    margin: 0 auto;
    width: 1200px;
  }

  .error-msg, .success-msg {
    margin: 2em auto 0 auto;
  }

}




/********************************
* Base Styles
*********************************/

.create-item-btn {
  font-size: 1.5em;
  border-radius: 10px;
  background-color: #E51670;
  border: 1px solid #E51670;
  color: white;


  &:hover, &:active {
    text-decoration: underline;
    text-decoration-color: white;
  }
}

.back-btn {
  @include routerBtnBaseStyle;

  a:active, a:hover {
    text-decoration: underline;
    text-decoration-color: white;
  }
}


.error-msg {
  @include statusMsgStyling(red);
}


.success-msg {
  @include statusMsgStyling(#3AAE84);
}
