/********************************
* Media Query Styles
*********************************/


// Mobile
@media only screen and (max-width: 540px) {
  form {
    border: 1px solid salmon;
    min-height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .create-item-btn, .back-btn {
    @include setDimensions(250px, 60px);
    border-radius: 10px;
    font-size: 1.5em;
    margin-right: 5px;
  }

  .add-item-btn-container {
    width: 80%; // Same width as FormRow in Mobile view
  }
}


// Tablet 
@media only screen and (min-width: 541px) and (max-width: 1024px) {

  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1em;
    
    h1 {
      width: 100%;
    }
  }  

  .form-container {
    width: 60%;
    border: 1px solid blue;
  }

  .add-item-btn-container {
    width: 25%;
    height: 40vh;
    border: 1px solid goldenrod;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .create-item-btn, .back-btn {
      @include setDimensions(90%, 60px);
      border-radius: 10px;
      font-size: 1.5em;
      margin-right: 5px;
    }


  }
}



/********************************
* Base Styles
*********************************/

.create-item-btn {
  font-size: 1.5em;
  border-radius: 10px;
  background-color: #E51670;
  border: 1px solid #E51670;
  color: white;
}

.back-btn {
  @include routerBtnBaseStyle;
}


.error-msg {
  color: red;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 10px red;
  width: 70%;
  text-align: center;
}

