/********************************
* Media Query Styles
*********************************/


@media only screen and (max-width: 530px) {
  .form-row {
    font-size: 1.5em; 
    width: 80%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;

    .form-label {
      width: 100%;
    }

    input {
      font-size: 1em;
      &.longer-input {
        width: 100%;
      }

      &.shorter-input {
        width: 35%;
      }
    }
  }
}


/********************************
* Base Styles
*********************************/

.form-label {
  color: white;
}

.row-total {
  color: white;
}

form .form-row:nth-child(even) {
    background-color: #3F0F3F;
  }

form .form-row:nth-child(odd) {
  background-color: #49C39E;
}
