/********************************
* Media Query Styles
*********************************/

// Mobile
@media only screen and (max-width: 540px) {

  .ledger-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;

    .cols {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin-bottom: 1.5em;
  
      .header {
        @include setDimensions(70%, 70px);
        // border: 1px solid grey; // Might add back
        @include flexCenter;
        font-size: 2em;
      }
    }

    .line-items-container {
      width: 90%;
      min-height: 20vh;
      margin: 1em 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }   
  }

  .additem-btn {
    @include addItemBtn(220px, 70px);
    margin: 0 auto 1.5em;
  } 
}

// Tablet
// Table Border styles are in _tableborderstyle.scss
@media only screen and (min-width: 541px) and (max-width: 1024px) {

  .invoice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

  }

  .ledger-container {
    width: 100%;
    margin-bottom: 2em;
  }

  .additem-btn {
    @include addItemBtn(170px, 70px);
    
  }

}






/********************************
* Base Styles
*********************************/

.cols {
  color: white;

  div:nth-child(1) {
    background-color: #49C39E;
  }

  div:nth-child(2) {
    background-color: #80D2DE;
    
  }

  div:nth-child(3) {
    background-color: #EBB424;
    
  }
  div:nth-child(4) {
    background-color: #D40E0D;
  }
}

.default-msg {
  font-size: 2em;
}

.additem-btn {
  @include routerBtnBaseStyle;
}