@media only screen and (max-width: 480px) {

  .ledger-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid purple;
    margin-bottom: 2em;

    .cols {
      border: 1px solid pink;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin-bottom: 1.5em;
  
      .header {
        @include setDimensions(70%, 70px);
        border: 1px solid grey;
        @include flexCenter;
        font-size: 2em;
      }
    }

    .line-items-container {
      width: 80%;
      margin: 1em 0;
      border: 1px solid gold;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .additem-btn {
      @include setDimensions(50%, 70px);
      border-radius: 10px;
      font-size: 1.5em;

      a:link, 
      a:visited, 
      a:hover, 
      a:active {
        text-decoration: none;
        color: black;
      }
    }    
  }


}