/********************************
* Media Query Styles
*********************************/

@media only screen and (max-width: 480px) {
  .line-item {
    width: 100%; // Based on cols width
    height: 300px;
    margin-bottom: 1.5em;    


  }

  .line-item-field {
    height: 25%;
    font-size: 1.5em;
    overflow: scroll; // Prevents long text from breaking layout
    display: flex;
    align-items: center;
    padding-left: .5em;
  }

  .total-field {
    img {
      width: 40px;
      height: 40px;
      margin-right: .5em;
    }
  }
}



@media only screen and (min-width: 481px) and (max-width: 1024px) {

  .line-item {
    display: flex;
  }
  .line-item-field {
    width: 25%;
  }

  .total-field {
    img {
      width: 25px;
      height: 25px;
      margin-right: .5em;
    }
  }




  /*********************
  * Table Cell Styling
  **********************/

  // The first row should have no top border
  .line-item:first-child() {
    border-top: none;
  }

  // The last row should have no bottom border
  .line-item:nth-last-child() {
    border-bottom: none;
  }

  .line-item {
    // The last field in a row should have no right border
    .line-item-field:last-child() {
      border-right: none;
    }
  
    .line-item-field {
      border-bottom: 1px solid grey;
      border-right: 1px solid grey;
    }
  }


  

}




/********************************
* Base Styles
*********************************/

.line-item {
  color: white;
}


.line-item-field:nth-child(1) {
  @include setFieldBGColor(#49C39E);  
}

.line-item-field:nth-child(2) {
  @include setFieldBGColor(#80D2DE);  
}

.line-item-field:nth-child(3) {
  @include setFieldBGColor(#EBB424);
  
}

.line-item-field:nth-child(4) {
  @include setFieldBGColor(#D40E0D);
  display: flex;
  justify-content: space-between;

  span {
   
    padding-right: 1em;
  }
}
