/********************************
* Media Query Styles
*********************************/

@media only screen and (max-width: 480px) {
  .line-item {
    width: 100%; // Based on cols width
    height: 300px;
    margin-bottom: 1.5em;    


  }

  .line-item-field {
    height: 25%;
    font-size: 1.5em;
    overflow: scroll; // Prevents long text from breaking layout
    display: flex;
    align-items: center;
    padding-left: .5em;
  }
}






/********************************
* Base Styles
*********************************/

.line-item {
  color: white;
}


.line-item-field:nth-child(1) {
  @include setFieldBGColor(#49C39E);  
}

.line-item-field:nth-child(2) {
  @include setFieldBGColor(#80D2DE);  
}

.line-item-field:nth-child(3) {
  @include setFieldBGColor(#EBB424);
  
}

.line-item-field:nth-child(4) {
  @include setFieldBGColor(#D40E0D);
  display: flex;
  justify-content: space-between;

  span {
   
    padding-right: 1em;
  }
}
