@media only screen and (max-width: 480px) {

  .total {
    width: 85%;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    
  }
  
  .total-labels {
    
    div {
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 1em;
    }
  }

  .total-figures {
    span.elip {
      text-overflow: ellipsis;
    }
    div {
      margin-bottom: 1em;
      
    }
  }
}


.total {
  // width: 85%;
  border: 2px solid grey;
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  
 
  .total-figures {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    

    div:nth-child(1) {
      text-overflow: ellipsis;
    }
  }
}