.total {
  width: 80%;
  border: 1px solid green;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  .total-figures {
    display: flex;

    flex-direction: column;
    align-items: flex-end;
  }
}